/* Write your CSS here */
.header-container {
  background-color: #cbd5e1;
  color: #475569;
  text-align: center;
  width: 900px;
}

.header {
  font-size: 30px;
  font-weight: bold;
  height: 60px;
  width: 600px;
  padding-left: 300px;
}
